<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../static/bootstrap-5.3.0-dist/css/bootstrap.min.css"
    />
    <title>Selecione o tipo de usuário</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .container {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container border-black">
      <h1>Selecione o tipo de usuário:</h1>
      <div class="mt-4">
        <a href="{{url_for('registerES')}}" class="btn btn-primary btn-lg me-3"
          >Estudante</a
        >
        <a href="{{url_for('registerPR')}}" class="btn btn-primary btn-lg"
          >Professor</a
        >
      </div>
    </div>
  </body>
</html>
