<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registre-se</title>
    <link
      rel="stylesheet"
      href="../static/bootstrap-5.3.0-dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="mt-5 container">
      <h1 class="text-center mb-5">Registro de Estudante</h1>
      <a href="{{url_for('login')}}" class="btn btn-primary mb-2"
        >Voltar para Login</a
      >
      <form
        class="form-control"
        method="POST"
        action="{{ url_for('registerES') }}"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            required
          />
        </div>
        <div class="mb-3">
          <label for="matricula" class="form-label">Matrícula</label>
          <input
            type="text"
            class="form-control"
            id="matricula"
            name="matricula"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="curso" class="form-label">Curso</label>
          <input
            type="text"
            class="form-control"
            id="curso"
            name="curso"
            required
          />
        </div>
        <div class="mb-3">
          <label for="senha" class="form-label">Senha</label>
          <input
            type="password"
            class="form-control"
            id="senha"
            name="senha"
            required
          />
        </div>
        <div class="mb-3">
          <label for="foto" class="form-label">Foto</label>
          <input
            type="file"
            class="form-control"
            id="foto"
            name="foto"
            accept="image/*"
            required
          />
        </div>
        <div class="text-center my-5">
          <button type="submit" class="btn btn-primary w-25">Registrar</button>
        </div>
      </form>
    </div>
  </body>
</html>
