{% extends 'base.html'%} {% block conteudo%}
<div class="container">
  <h1 class="text-center my-5">Turmas de {{disciplina['nome']}}</h1>
  <a
    href="{{url_for('disciplinas', dpt_id=disciplina['departamento_id'])}}"
    class="btn btn-primary mb-3"
    >Voltar para Disciplinas</a
  >
  <div class="row">
    {% for turma in turmas_com_prof %}
    <div class="col-md-4">
      <div class="card my-4" style="width: 20rem">
        <img
          src="../static/turma.jpg"
          class="card-img-top img-thumbnail"
          alt="alunos"
        />
        <div class="font-monospace card-body text-center">
          <h5 class="card-title mb-3">Turma {{ turma['id'] }}</h5>
          <p>Professor: {{ turma['nome_professor'] }}</p>
          <a
            href="{{ url_for('avaliacoes', turma_id=turma['id']) }}"
            class="btn btn-primary"
            >Avaliações</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock conteudo%}
